* {
    margin: 0;
    padding: 0;
}

html,
body {
    background-image: url(./img/bg.png);
}

.nav-link {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    margin: auto;
    color: #6b4848 !important;
    display: block;
    text-align: center;
    padding: 5px 10px;
}

.container {
    overflow: hidden;
}

.active {
    background: url(./img/background.png) no-repeat center;
    background-position: top;
    background-size: cover;
}

.contents {
    width: 80%;
    margin: auto;
    padding: 35px 0px;
}

.bg {
    width: 100%;
    background-color: #eeeeee;
    background: -moz-linear-gradient(bottom, #eeeeee 90%, #e6e6e6 10%);
    background: -o-linear-gradient(bottom, #eeeeee 90%, #e6e6e6 10%);
    background: -ms-linear-gradient(bottom, #eeeeee 90%, #e6e6e6 10%);
    background: -webkit-gradient( linear, left bottom, left top, color-stop(0.9, #eeeeee), color-stop(0.1, #e6e6e6));
    box-shadow: 0px 5px 25px #e6e6e6;
}

.card {
    background-image: linear-gradient(#333348, #9191ac);
}

.card-title {
    font-size: 120px;
    background: none;
}

.card-body,
.card-text {
    font-size: 40px;
    background: none;
}

.buttons {
    background-color: #6b4848 !important;
    box-shadow: 1px 1px 1px white;
    border-radius: 25px;
    border-top: 2px solid #443030c7;
    font-weight: bold;
    font-size: 18px;
    color: white;
    padding: 10px 30px;
}

.button-top {
    border-radius: 25px;
    border: 1px solid #dbdbdb;
    border-bottom: none;
    color: #dbdbdb;
    font-weight: bold;
}

.nav-links {
    text-transform: capitalize;
    font-size: 12px;
    margin: auto;
    color: #6b4848 !important;
    margin-right: 20px;
}

.title {
    color: #6b4848 !important;
}

.emet {
    color: #9e9e9e;
    text-transform: capitalize;
    font-size: 50px;
}

.input {
    border-radius: 20px;
    color: #7c7b7b;
    width: 100%;
    margin-top: 20px;
    padding: 5px 10px;
}

.mxh {
    padding-left: 20px;
}

.web-about {
    padding-left: 50px;
    text-align: right;
}

.notifi {
    position: relative;
    background-image: url(./img/hastag.png);
    background-repeat: no-repeat;
    top: 35px;
    right: -46%;
    text-align: center;
    color: white;
}